* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsla(168, 53%, 52%, 0.6);
    --secondary: hsla(244, 59%, 21%, 0.9);
    --tertiary: rgba(63, 194, 139, 0.52);
    --ferary: hsl(245, 39%, 28%);
}

body {
    font-family: 'Alegreya', serif;
    display: grid;
    /* place-items: center;
    place-content: center; */
    color: black;
}

#banner {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--primary), var(--secondary)), url("imgs/banner.jpg") no-repeat center center/ cover;
}

.banner-text {
    text-align: center;
    color: white;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 100px;
    text-align: center;
}

.banner-text p {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 3%;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
    padding: 12px 0px;
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

.banner-btn a:hover {
    background-color: white;
    color: #191654;
    transition: 0.5s;
}

.side-nav {
    width: 650px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0%;
    top: 0%;
    border-image: initial;
    font-size: 18px;
}

nav ul li {
    display: inline;
    flex-direction: row-reverse;
    list-style: none;
    margin: 50px 20px;
    top: 2%;
    right: 3%
}

nav ul li a {
    display: inline;
    align-items: right;
    align-self: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav li {
    float: left;
}

nav ul li a:hover {
    cursor: pointer;
    color: #191654;
}

/* #menu-btn{ 
    width:50px;
    height:50px;
    background-color:hsla(243, 58%, 39%,0) ;
    text-align:center;
    position:fixed;
    right:10px;
    top:3px;
    border-radius: 10px;
    z-index:3;
     cursor:pointer;} */

/* #menu-btn img{ */

/* width:20px; */

/* margin-top: 15px;} */

/* / @media screen and ( max-width: 770px) {  */
    /* .banner-text h1 {
        font-size: 40px;
        text-align: center;
    }
    .banner-btn a {
        display: block;
         margin: 20px auto; }*/ */

#features {
    width: 100%;
    height:100%;
    padding: 80px 0px;
    position: relative;
    overflow: hidden;
    background:cyan;
    margin-bottom:7%;
}

.title-text {
    padding-bottom: 70px;
    text-align: center;
    padding:20px;
}

.title-text p {
    margin: auto;
    font-size: 22px;
    color: #184972;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    top:22px;
    bottom: 5px;
}

.title-text p::after {
    content: "";
    width: 15px;
    height: 30px;
    background: linear-gradient(#43C6AC, #191654);
    opacity: 0.7;
    position: absolute;
    top: -25px;
    left: 3px;
    z-index: -1;
    transform: rotate(15deg);
    border-top-left-radius: 35px;
    /* imagine a circle n then radius from top n bottom */
    border-bottom-right-radius: 30px;
}
/* -----------------------------------------  --------------------------------------- */
  #features h1 {
    font-size: 45px;
    margin: auto;
    flex-basis: 50%;
    top:30px;
    padding:20px;

} 


/* -------------------------------------------------------------------------- */

 #feature-box {
    width: 100%;
    height:100%;
    padding-top:40px;
    position: relative;
  margin-bottom: 2%;
    text-align: left;
    padding-bottom: 10px; 

}
 #features h {
    padding: 63px 10px 30px 70px;
    text-align: center;
    display: inline-table;
    position:relative;
    top: 30px;
    background: rgb(42, 126, 165);


    /* #feature-box h{
    font-size:20px;
    margin-left: 50px;
     text-align: center;
    position:relative;  */
}


 /* #feature-box p {
    font-size: 15px;
    margin-left: 50px; */



.feature1{
    margin-top: 30px;
    display: inline-block;
    margin-left: 10%;
}
.feature2{
    margin-top: 40px;
    display: inline-block;
    margin-left: 10%;

} 
.feature3{
    margin-top: 50px;
   display: inline-block;
   margin-left: 10%;
  

}
/* .features-text{
    
/* } */


 #feature-image{
    /* background: linear-gradient(var(--primary), var(--secondary)); */
    border-radius: 20px;
    z-index: 2; 
    max-height:359px;
    max-width:600px;
    position: absolute;
   
}

#feature-image {
    /* display:inline-block; */
    border:6px #e26464;
    background-size:cover;
    width: 45%;
    /* float:right; */
     z-index: 1; 
    /* padding-right:70px;
    padding-bottom: 70px; */
    position:absolute;
    /* top:60px; */
    right:5%;
    padding:5%;
    padding-bottom:23%;
    bottom:20%; 
    /* bottom:20px; */
   /* bottom: 200px;
    right:140px;  */
    /* background: #c04c4c; */
    border-radius: 20px;
}

#feature-image img {
    border-radius: 20px;
    bottom: 120px;
    position: absolute;
    object-fit: inherit;
    max-height:379px;
    max-width:600px;
    left:40%;

    
}
/* .fea-image{
    background:linear-gradient(var(--primary),var(--secondary));
    border-radius: 20px;
   */

 /* .fea-image{ */
    
    
    /* background: linear-gradient(var(--primary), var(--secondary)); */
    /* border-radius: 20px;
    z-index:1; } */ 


/* .features-icon.fa {
    color: orchid; */

/* ------------------------------------------------------------------------------- */
/* icons to each feature pg remaning */
#service{
    width:100%;
    height: fit-content;

    padding:30px 0px;
    background:#efefefa4;
}
#service h1{
    padding-bottom: 100px;
    text-align: center;
    padding:20px;
    font-size:45px;
}
.service-box{
    width:80%;
    background-size:contain;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
}
.single-service{
    width:45%;
    text-align:center; 
    border-radius: 20px;
    color: white;
     position:relative; 
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.single-service img{
    border-radius: 20px;
    justify-content: space-evenly;
    width:100%;
   

  

}
.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    border-radius:20px;
    cursor:pointer;
    background:linear-gradient(var(--primary),var(--secondary)); 
    opacity:0;
    transition:1s;} 

.single-service:hover .overlay {
    opacity:1;

}
 .service-des {
    width:80%;
    position:absolute;
    bottom:0;
    left:50%;
    opacity:0;
 transform: translateX(-50%); 
transition: 1s;
}
hr{
  background:#ffffff;
     height:2px;
    border:0;
   margin:15px auto;
   width:60%;
 }  
 .service-des p{
 font-size: 14px;
 } 
 .single-service:hover .service-des{
    bottom:40%;
    opacity: 1;
 }

 #testimonial h1{ 
     /* margin-top: 60px; 
    * padding-bottom: 90px; */
    text-align: center;
    padding: 20px;
    font-size: 45px; 
    padding-bottom: 10px;
    text-align: center;
    padding:20px;
    font-size:45px;

 }
 #testimonial p{
    margin-top: 20px;
 }
 .testimonial-row{
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap:wrap;
 }
 .testimonial-column{
     flex-basis: 35%;
     padding:10px;
     margin-bottom: 30px;
     border-radius:5px;
     box-shadow: 0 10px 20px 30px #00968814;
     cursor:pointer;
     transition:transform 0.5s;
 }
 .user{
     display: flex;
     align-items:center;
     margin-top:10px;
 }
 .user img{
     width:40px;
     margin-right: 20px;
     border-radius:3px;
 }
 .user-info small{
     color:#009688;
 }
 .testimonial-column:hover{
    transform: translateY(-7px);
 }
 

   

